# Автоматично згенеровано UniversalDepsChecker
# Загалом пакетів: 23

ast
colorama>=0.4.6
enum
gradio>=5.31.0
importlib
inspect
ipa_uk
kod
numpy>=1.26.4
platform>=1.0.8
pydantic>=2.11.5
scipy>=1.15.3
shutil
soundfile>=0.13.1
subprocess
tempfile
threading
torch>=2.9.0
traceback
transformers>=4.52.3
types
ukrainian_word_stress>=1.1.1
unicodedata