torch==2.2.0
torchaudio==2.2.0
markupsafe~=2.0
accelerate==1.6.0
SoundFile
git+https://github.com/patriotyk/ipa-uk.git
git+https://github.com/patriotyk/styletts2-inference.git
git+https://github.com/patriotyk/ukrainian-word-stress.git
numpy<2
scipy
librosa
huggingface_hub
transformers
pyyaml
einops
einops_exts
munch
num2words
onnxruntime